.hero {
  position: relative;
  background: url("/images/products-discover.jpg") center center /
    cover no-repeat;
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 640px;
}

.overlay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  gap: 2rem;
  position: relative;
  z-index: 2; // Supaya di atas overlay
}

.content {
  max-width: 600px;
}

.content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.button {
  background: #fff;
  color: #000;
  font-weight: 600;
  padding: 1rem 1.875rem;
  min-width: 314px;
  border: 2px solid #000;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #000;
  color: #fff;
}

.product {
  position: relative;
  max-width: 400px;
  width: 100%;
}

@media (max-width: 768px) {
  .overlay {
    flex-direction: column-reverse;
    text-align: center;
  }

  .content h1 {
    font-size: 2.25rem;
  }

  .content p {
    font-size: 1rem;
  }

  .product {
    max-width: 300px;
  }
}
