.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background: white;
  padding: 0;
  position: relative;

  @media (max-width: 768px) {
    padding: 0;
  }

  @media (max-width: 480px) {
    padding: 0;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background: var(--banner-image, url("/new/career-banner.jpg")) no-repeat center center;
    background-size: cover;
    z-index: 1;

    @media (max-width: 768px) {
      height: 35vh;
    }

    @media (max-width: 480px) {
      height: 30vh;
    }
  }
}

.blogCard {
  background: #fff;
  border-radius: 10px;
  padding: 50px 70px;
  max-width: 974px;
  position: relative;
  z-index: 2;
  margin: 20vh auto 0;
  
  h1, h2, h3, h4, h5 {
    margin-bottom: 8px;
  }

  @media (max-width: 768px) {
    padding: 20px;
    width: 85%;
    margin-top: 15vh;
  }

  @media (max-width: 480px) {
    padding: 15px;
    width: 90%;
    margin-top: 10vh;
  }
}

.blogImage {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.title {
  font-size: 49px;
  text-align: center;
  color: #000000;
}

.blogInfo {
  // margin-bottom: 20px;
  font-size: 13px;
  font-weight: 500;
  color: #3c3c434a;
}

.tag {
  display: inline-block;
  background: #0000001f;
  padding: 1px 12px;
  border-radius: 20px;
  font-size: 13px;
}

.content {
  margin-top: 20px;
}

.htmlContent {
  line-height: 1.6;
  color: #555;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 10px 0;
  }

  p {
    margin-bottom: 15px;
  }
}

.readMoreButton {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;

  &:hover {
    background: #0056b3;
  }
}