.chat {
    margin-bottom: 92px; 
    min-height: 736px;
    max-height: none;
}

.chat-list {
    width: 100%; 
    border: 1px solid #C5C5C5;
    display: flex;
    flex-direction: column;

    .active {
        background-color: #F0F0F0 !important;
        border: none;
    }
}

.chat-box {
    width: 100%; 
    border: 1px solid #C5C5C5;
}

.messages {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 42px;

    li {
        border: 1px solid #CACACA;
        padding: 12px;
        display: flex;
        align-items: flex-end;
        gap: 20px;
        font-size: 13px;
        font-weight: 500;
    }

    .response {
        border-radius: 0 26px 26px 26px;
        align-self: flex-start;
    }
    
    .send {
        border-radius: 26px 0 26px 26px;
        align-self: flex-end;
        background-color: #D9D9D9;
    }

    .time {
        flex-shrink: 0;
        color: #9E9E9E;
    }

    .product {
        background-color: white;
    }
}

.form-check-input:checked {
    background-color: var(--main) !important;
    border-color: var(--main) !important;
}


@media (min-width: 768px) {
    .chat {
        max-height: 80vh;
    }

    .chat-list {
        width: 30%; 
    }

    .chat-box {
        width: 70%; 
    }
}