.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffff;
  padding: 20px;
  text-align: center;
}

.content {
  width: 100%;
  max-width: 600px; 
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
  line-height: 1.2;
}

.illustration {
  margin-bottom: 20px;

  .illustrationImage {
    width: 100%;
    height: auto;
    max-width: 300px; 
  }
}

.progressText {
  font-size: 30px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .progressIcon {
    font-size: 1.2em;
  }

  .progressSize {
    font-size: 0.9em;
    color: #999;
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2em;
  }
  .progressText {
    font-size: 1.2rem;
  }

  .illustration .illustrationImage {
    max-width: 250px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5em;
  }

  .progressText {
    font-size:1.2rem;
  }

  .illustration .illustrationImage {
    max-width: 200px;
  }
}
