// @import url("../../../public/scss/_grid");
@import "../../../public/scss/grid";

.containerAbout {
  //font-family: Arial, sans-serif;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.banner {
  width: 100%;
  height: 40vh;
  position: relative;
  overflow: hidden;

  .bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Content */
.content {
  padding: 40px 20px;
}

/* About Section */
.aboutSection {
  margin-bottom: 20px;

  .aboutImage {
    padding: 10px;

    .image {
      width: 100%;
      max-width: 590px;
      height: auto;
      max-height: 390px;
      object-fit: cover;
    }
  }

  .aboutText {
    padding: 10px;
    text-align: left;

    h2 {
      font-size: 25px;
      margin-bottom: 34px;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      color: #000000;
      line-height: 1.5;
      margin-bottom: 34px;
    }

    .discoverButton {
      background: #000;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 400;

      &:hover {
        background: #333;
      }
    }
  }
}

/* Columns */
.columns {
  .column {
    padding: 20px;
    background: #fff;

    .columnImage {
      margin-bottom: 24px;

      img {
        width: 100%;
        max-width: 390px;
        height: auto;
        max-height: 236px;
        object-fit: cover;
      }
    }

    h2 {
      font-size: 25px;
      color: #333;
      margin-bottom: 24px;
    }

    p {
      font-size: 20px;
      color: #000000;
      line-height: 1.5;
      margin-bottom: 24px;
    }

    .discoverButton {
      background: #000;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1em;

      &:hover {
        background: #333;
      }
    }
  }
}

/* Responsivitas Tambahan */
@media (max-width: 767px) {
  .aboutSection {
    .aboutImage,
    .aboutText {
      flex: 100%;
    }
  }

  .columns {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
}
